<div class="auth-wrap">
  <h1>Neues Passwort</h1>
  <p>Wähle ein neues Passwort für {{ email }}.</p>
  {% form 'reset_customer_password' %}
    {%- if form.errors -%}
      <div class="form-errors">{{ form.errors | default_errors }}</div>
    {%- endif -%}
    <div class="field">
      <label for="ResetPassword">Neues Passwort</label>
      <input type="password" id="ResetPassword" name="customer[password]" autocomplete="new-password" required>
    </div>
    <div class="field">
      <label for="ResetPasswordConfirm">Passwort bestätigen</label>
      <input type="password" id="ResetPasswordConfirm" name="customer[password_confirmation]" autocomplete="new-password" required>
    </div>
    <button type="submit" class="btn btn--primary btn--full">Passwort speichern</button>
  {% endform %}
</div>
